# cat /etc/redhat-release
{{ rhr.stdout }}

# cat /etc/os-release
{{ osr.stdout }}

# {{ ostree_sig.cmd }}
{{ ostree_sig.stdout }}

Key Packages
{% for pkg in key_pkgs.results %}
{{ pkg.stdout }}
{% endfor %}
{% if atomic_pkgs.changed %}
{{ atomic_pkgs.stdout }}
{% endif %}

{% if upgraded_atomic_version is defined%}
RPM Diffs between {{ initial_atomic_version.stdout }} and {{ upgraded_atomic_version.stdout }}
====================================
{% if rpm_diffs.rc == 0 %}
No package changes!
{% elif rpm_diffs.rc == 1 %}
{{ rpm_diffs.stdout }}
{% else %}
Unable to determine package changes!
{% endif %}
{% endif %}
